
.exit {
  border: 1px solid #237b98;
  padding: 0.2rem;
  cursor: default;
}

.exit:hover {
  background-color: aliceblue;
}

input {
  padding: 0.2rem;
  outline: none;
  font-size: 1rem;
  text-align: center;

}
.row div{
  margin-left: 700px;
  width: 500px;

}

button:hover {
  background-color: #333333;
}

button:focus {
  outline: none;
}

button:active {
  outline: none;
  color: #237b98;
}
.btn {
  margin-left: 200px;
  background-color: #237b98;
}
