
  <nav>
    <div class="nav-wrapper">

      <a href="#" class="brand-logo">
         <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQe4ZBbxm2DYIRqy5NfrPSZHtiq81rp3yZX4gZgRTlRQI_vhEvu">
      </a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">

        <li>
          <button (click)="loginService.login()" class="btn waves-effect waves-light" type="submit" name="action">Log in</button>
        </li>
        <li>

          <button (click)="loginService.login()" class="btn waves-effect waves-light" type="submit" name="action">Registration</button>
        </li>
      </ul>
    </div>
  </nav>
