nav{
  background-color: lightslategray;
  margin: auto;
  height: 120px;

}

.btn{
  margin-right: 30px;
  margin-top: -20px;
}

button:hover {
  background-color: #333333;
}
img{
  margin-left: 50px;
  padding: 15px;
  max-height: 150px;
  max-width: 200px;
  width: 120px;
  height: 120px;
}
h1{
  font-style: normal;
  text-align: center;
  text-decoration-color: slategrey;
  color: #333333;
}
