<div class="slider">
  <div class="slider-container">
    <div class="slide active" style="background-image: url('/assets/qwer.jpg');">
      <div class="info">
        <h1>Restaurant </h1>
        <p> Book a table at your favourite restaurant.</p>
      </div>
       <div class="qwer">
         <button   class="btn waves-effect waves-light" type="submit" name="action">Select City</button>
         <button   class="btn waves-effect waves-light" type="submit" name="action">Select Restaurant</button>
         <button   class="btn waves-effect waves-light" type="submit" name="action">Select filial</button>
         <button   class="btn waves-effect waves-light" type="submit" name="action">Select table</button>

       </div>
    </div>
</div>
  </div>

<div class="main">
  <app-about *ngIf="login.canViewAbout"></app-about>
  <app-client-list *ngIf="login.canViewUsers"></app-client-list>
</div>
