<link href='https://fonts.googleapis.com/css?family=Didact+Gothic' rel='stylesheet' type='text/css'>
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
<div class="wrap">
  <form action="#">
    <fieldset>
      <input type="text" name="yourName" placeholder="Your Name"/>
      <input type="text" name="email" placeholder="Email"/>
      <input type="password" name="psw" placeholder="Password"/>
      <input type="password" name="psw" placeholder="Confirm Password"/>
      <form action="#">
        <h2>Or sign up with</h2>
        <button href="#"><i class="fa fa-facebook"></i>Facebook</button>
        <button href="#"><i class="fa fa-google-plus"></i>Google +</button>
        <button href="#"><i class="fa fa-twitter"></i>Twitter</button>
      </form>
      <input type="submit"  value="Submit">
    </fieldset>
  </form>
</div>
